.cardContainer {
  display: flex;
  padding: 5px;
  margin: 3px;
  border: solid 2px grey;
  gap: 15px;
}

.nameAndPriceContainer {
  display: flex;
  flex-direction: column;
}

.descriptionContainer {
  display: flex;
  flex-direction: column;
  margin: -2px;
  padding: -3px;
}

.imgContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img {
  height: 100px;
  width: 100px;
  margin: 5px;
}

.cardText {
  margin: 3px;
}

.boldText {
  font-weight: bold;
}

.typeBox {
  width: 10px;
  height: 10px;
  border: solid 1px;
  margin: 0px;
}

/* veg */
.veg {
  border-color: green;
  background-color: green;
}

/* non-veg */
.nonveg {
  border-color: red;
  background-color: red;
}

.button {
  color: white;
  background-color: rgb(222, 159, 11);
  border: none;
  border-radius: 5px;
  padding: 4px;
  width: 80px;
  font-size: 12px;
}
