.cartCard {
  display: flex;
  gap: 15px;
  padding: 10px;
  border: 1px solid #ddd;
  margin-bottom: 10px;
  width: 400px;
  
}

.img {
  width: 80px;
  height: 80px;
}

.details {
  flex: 1;
}

.qty {
  display: flex;
  gap: 10px;
  align-items: center;
}

.prices{
  margin-bottom: 2px;
}

.text{
  margin-bottom: 0px;
}


