.navContainer {
  background-color: black;
  display: flex;
  align-items: center;
  min-width: auto;
  position: fixed;
  width: 100%;
  height: 50px;
 
 
}

.navLinks {
  color: rgb(219, 207, 207);
  margin: 10px;
  text-decoration: none;
  font-weight: 600;
  font-size: 15px;
}

.logo {
  height: 30px;
  margin: 5px;
}

.logoLink {
  display: flex;
  align-items: center;
}

.cart {
  margin-left: auto;
  border: 1px solid rgb(230, 179, 11);
  background-color: rgb(230, 179, 11);
  padding: 5px;
  border-radius: 3px;
  color: rgb(0, 0, 0);
  font-weight: 600;
}
